#gem_calculator table {
    margin: 1em auto;
    border: 1px black solid;
    padding: 2.5em;
}

#gem_calculator td {
    width: 64px;
    height: 64px;
}

#gem_calculator .border {
    border: 1px solid black;
}

#gem_calculator .bigger {
    width: 128px;
}

#gem_calculator table td > input {
    width: 100%;
}

#starting, #final {
    text-align: center;
}
#starting > strong, #final >strong {
    display: block;
    font-size: larger;
}

#gem_selector img, #starting img, #final img {
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    +filter: gray;
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}