h1, h2, h3 {
	margin: 0;
}

article header {
	text-align: center;
}

article header h1 {
	font-size: 300%;
}

article header .paragon {
	color: #6F88BE;
}


#equipment {
    position:relative;

    width: 509px;
    height: 437px;
}

#equipment div {
    position:absolute;

    z-index: 1;
}

#equipment div {
    background-position: center center;
    background-size: 95% 95%;
    background-repeat: no-repeat;
}

#equipment .blueBig {
    background-image: url("../img/item_backgrounds/blueBig.png");
}

#equipment .yellowBig {
    background-image: url("../img/item_backgrounds/yellowBig.png");
}

#equipment .orangeBig {
    background-image: url("../img/item_backgrounds/orangeBig.png");
}

#equipment .greenBig {
    //background-image: url("../img/item_backgrounds/greenBig.png");
    background-image: url("../img/item_backgrounds/orangeBig.png");
}

#equipment #head {
    left: 323px;
    top: 16px;

    width: 67px;
    height: 65px;
}

#equipment img {
    margin-left: 2px;
}

#equipment #head img {
    margin-top: -31px;
}

#equipment #torso {
    left: 314px;
    top: 83px;

    width: 85px;
    height: 117px;
}

#equipment #torso img {
    margin-top: -25px;
}

#equipment #feet {
    left: 323px;
    top: 332px;

    width: 67px;
    height: 88px;
}

#equipment #feet img {
    margin-top: -20px;
    margin-left: 0px;
}

#equipment #hands {
    left: 215px;
    top: 136px;

    width: 67px;
    height: 89px;
}

#equipment #hands img {
    margin-top: -20px;
}

#equipment #shoulders {
    left: 241px;
    top: 37px;

    width: 67px;
    height: 89px;
}

#equipment #shoulders img {
    margin-top: -20px;
}

#equipment #legs {
    left: 323px;
    top: 240px;

    width: 67px;
    height: 89px;
}

#equipment #legs img {
    margin-top: -20px;
}

#equipment #bracers {
    left: 431px;
    top: 136px;

    width: 67px;
    height: 89px;
}

#equipment #bracers img {
    margin-top: -20px;
}

#equipment #mainHand {
    left: 215px;
    top: 289px;

    width: 67px;
    height: 134px;
}

#equipment #offHand {
    left: 431px;
    top: 289px;

    width: 67px;
    height: 134px;
}

#equipment #waist {
    left: 314px;
    top: 204px;

    width: 85px;
    height: 32px;
}

#equipment #waist img {
    margin-top: -15px;
    margin-left: 11px;
}

#equipment #rightFinger {
    left: 443px;
    top: 237px;

    width: 43px;
    height: 42px;
}

#equipment #rightFinger img {
    margin-top: -12px;
    margin-left: -9px;
}

#equipment #leftFinger {
    left: 227px;
    top: 237px;

    width: 43px;
    height: 42px;
}

#equipment #leftFinger img {
    margin-top: -12px;
    margin-left: -9px;
}

#equipment #neck {
    left: 406px;
    top: 59px;

    width: 56px;
    height: 54px;
}

#equipment #neck img {
    margin-top: -6px;
    margin-left: -3px;
}