h1, h2, h3 {
	margin: 0;
}

article header {
	text-align: center;
}

article header h1 {
	font-size: 300%;
}

article header .paragon {
	color: #6F88BE;
}


#equipment {
    position:relative
}
#equipment canvas {
    position:absolute;

    z-index:0
}
#equipment div {
    position:absolute;

    z-index: 1;
}

#equipment div {
    background: url("../img/item_backgrounds/rare_big.png");
    background-size: 95% 95%;
    background-repeat: no-repeat;
    background-position: center center;
}

#equipment #head {
    left: 325px;
    top: 17px;

    width: 64px;
    height: 64px;
}

#equipment #head img {
    margin-top: -31px;
}

#equipment #torso {
    left: 316px;
    top: 86px;

    width: 82px;
    height: 111px;
}

#equipment #torso img {
    margin-top: -25px;
}

#equipment #feet {
    left: 326px;
    top: 334px;

    width: 64px;
    height: 86px;
}

#equipment #feet img {
    margin-top: -20px;
}

#equipment #mainHand {
    left: 217px;
    top: 291px;

    width: 64px;
    height: 130px;
}

#equipment #hands {
    left: 217px;
    top: 138px;

    width: 64px;
    height: 86px;
}

#equipment #hands img {
    margin-top: -20px;
}