* {
    margin: 0;
    padding: 0;
}

A:link, A:visited, A:active {
    color: inherit;
}

A:hover {
    text-decoration: underline;
    color: lightgray;
}

h1, h2, h3 {
	margin: 0;
}

body > header {
    background-color: black;
    color: gray;
    padding: 0.5em;
}

body > header > h1 {
    color: lightgray;
}

body > header * {
    display: inline;
}

body header navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body header navbar ul li {
    margin-left: 2em;
    padding-left: 0.5em;
    border-left: lightgray 1px dashed;
}